@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.scrollbar::-webkit-scrollbar {
		width: 8px;
	}

	.scrollbar::-webkit-scrollbar-thumb {
		@apply bg-gray-500;
		border-radius: 100vh;
	}
}

.slider {
	@apply w-full rounded-full h-[3px]  appearance-none cursor-pointer;
}

.slider::-webkit-slider-thumb {
	@apply w-[25px] h-[25px] bg-white   rounded-full shadow-lg appearance-none cursor-pointer;
	-webkit-appearance: none;
}

.slider::-moz-range-thumb {
	@apply w-[25px] h-[25px] bg-white rounded-full shadow-lg cursor-pointer;
}

@layer components {
	.page-width {
		width: var(--page-width);
	}
}

@layer base {
	.h1 {
		@apply text-lg antialiased tracking-widest text-gray-800 font-400 font-inter leading-lg;
	}

	.text-large {
		@apply antialiased tracking-widest text-gray-800 text-md font-400 font-inter leading-md;
	}

	.text-small {
		@apply text-sm antialiased tracking-wide text-gray-800 font-400 font-inter;
	}

	.text-extra-small {
		@apply text-xs antialiased tracking-wide text-gray-500 font-400 font-inter;
	}

	.editor-content {
		@apply antialiased text-large;
	}

	.editor-content blockquote {
		@apply pt-1 pl-3 border-l-[6px] border-b-gray-500  bg-gray-100;
	}

	.editor-content ul {
		@apply ml-6 list-disc;
	}

	.editor-content ol {
		@apply ml-6 list-decimal;
	}
}

/* 
@layer base {
	html {
		@apply inter;
	}
}
 */
/* @layer components {
	
} */

/* 
	.editor-content {
		@apply text-normal;
	}

	.editor-content blockquote {
		@apply pt-1 pl-3 border-l-[6px] border-colorIcon  bg-colorLines;
	}

	.editor-content ul {
		@apply ml-6 list-disc;
	}

	.editor-content ol {
		@apply ml-6 list-decimal;
	}

	.editor-content h2 {
		@apply ;
	} 
*/

/* 


.editor-content h2 {
		@apply;
	}
	
// -------------------------------------------
// -------------------------------------------
// -------------------------------------------


/* 
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap");


*/

/* 
.title {
		@apply text-colorDark font-Inter text-22 font-450 leading-32;
	}

	.text-normal {
		@apply tracking-wide text-colorText font-Inter text-19 font-400 leading-28;
	}

	.text-small {
		@apply tracking-wide text-colorText font-Inter text-14;
	}

	.text-normal-number {
		@apply leading-none tracking-wide text-colorText font-Inter text-19 font-400;
	}

	.text-small-number {
		@apply leading-none tracking-wide text-colorText font-Inter text-14 font-400;
	}

	.text-extrasmall-number {
		@apply leading-none tracking-wide text-colorText font-Inter text-12 font-400;
	} 


*/

/* 

.px-field {
	@apply px-10 md:px-10;
}

.p-content {
	@apply py-10 px-field;
}

.gap-small {
	@apply gap-2;
}

.gap-normal {
	@apply gap-4;
}

.small-ball-dimension {
	@apply w-4 h-4;
}
.ball-dimension {
	@apply w-5 h-5;
}

.height-menu {
	@apply h-11;
}

.center {
	@apply absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2;
} */
