/* @font-face {
	font-family: "SFPro";
	src: url("./SF-Pro.ttf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
 */
/* 

@font-face {
	font-family: "YourFontName";
	src: url("./YourFontFile-Bold.otf") format("opentype");
	font-weight: bold;
	font-style: normal;
}
 */

/* @font-face {
	font-family: "SF Pro Display";
	font-weight: 100;
	font-style: normal;
	src: url("https://github.com/sahibjotsaggu/San-Francisco-Pro-Fonts/blob/master/SF-Pro-Display-Ultralight.otf")
		format("opentype");
}
 */
